/node_modules
/public/hot
/public/storage
/storage/*.key
storage/app
storage/log
docker
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
tests
*.zip
/doc/*.mp3
*.tmp
*.exe
*.mp4
doc
step-form
composer.lock
robots.txt
sitemap.xml
Database.php
.htaccess
*-bkp.*